body {
    background-color: #ede0d4;
    font-family: Urbanist;
}

#head {
    background-color: #e6ccb2;
    text-align: center;
    color: 7f5539;
    width: 100%;
}

#myLibrary {
    font-size: 5em;
}